include header.jade
body
  header
    #cover
      .container.banner-content
        h2 Welcome to my blog
    include nav.jade
  
  #blog-list.container
    .col-md-10.col-md-offset-1
      each blog, index in blogs
        .row.blog-each
          h2
            a(class="blog-title" href="/blog/#{blog._id}")=blog.title
            small
              i=blog.time.day
          .blog-info-content
            if blog.img.original
              .blog-img
                img(class="img-responsive" onerror="this.style.display='none'" src="#{blog.img.original}")
            .blog-content!=blog.content_begin
            //- a(href="/blog/#{blog._id}") >>更多
           if blog.tags 
            ul.blog-tags
              li.blog-date= blog.time.day
              each tag in blog.tags 
                li
                  i.glyphicon.glyphicon-tag
                  | &nbsp; #{tag}

  
include footer.jade
        